/* Основные стили */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #1e1b19;
    color: #f0e6e0;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Заголовки */
h1, h2 {
    color: #ff9b50;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 400;
}



.player-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 155, 80, 0.3);
}


* {
    box-sizing: border-box; /* Добавлено для учета отступов и границ */
}

.player-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px; /* Убедитесь, что нет промежутков между элементами */
    margin-top: 30px;
    padding: 0; /* Убедитесь, что нет отступов */
}

.player-item {
    background: #2e2723;
    border-radius: 8px;
    padding: 0; /* Убираем внутренние отступы */
    margin: 0; /* Убираем внешние отступы */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; /* Можно изменить в зависимости от ваших потребностей */
}

.player-item a {
    color: #ff9b50;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px; /* Можно добавить отступ для увеличения кликабельной области */
}



/* Кнопки фильтрации */
.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.filter-button {
    background-color: #2e2723;
    border: 2px solid #ff9b50;
    color: #ff9b50;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter-button:hover, .filter-button.active {
    background-color: #ff9b50;
    color: #1e1b19;
}

/* Таблица данных */
.data-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    margin-top: 30px;
}

.data-table th, .data-table td {
    padding: 15px;
    text-align: left;
}

.data-table th {
    background-color: #4d413b;
    color: #ff9b50;
    font-weight: 600;
}

.data-table td {
    background-color: #2e2723;
    border-top: 1px solid #4d413b;
    border-bottom: 1px solid #4d413b;
}

.data-table tr td:first-child {
    border-left: 1px solid #4d413b;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.data-table tr td:last-child {
    border-right: 1px solid #4d413b;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.data-table td.dialog-text {
    max-width: calc(100% - 100px);
    word-wrap: break-word;
}

.data-table td.time {
    width: 100px;
    color: #ff9b50;
    font-weight: 500;
}

/* Кнопка "Назад" */
.back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9b50;
    color: #1e1b19;
    text-decoration: none;
    border-radius: 25px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.back-button:hover {
    background-color: #e68a45;
}

/* Заголовок даты */
.date-header {
    font-weight: 500;
    font-size: 1.3em;
    color: #ff9b50;
    margin: 30px 0 20px;
    border-bottom: 1px solid #4d413b;
    padding-bottom: 10px;
}

/* Новый контейнер для кнопки "Назад" и заголовка */
.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

/* Адаптивный дизайн */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    
    .player-list {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    
    .filter-button {
        padding: 8px 15px;
        font-size: 0.9em;
    }
    
    .header-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .back-button {
        margin-bottom: 15px;
    }
}